@import "compass";
@import "partials/variables";


/*! global styles*/
html, body {
	background-color: $dark-blue;
	color: $text-def;
	width: 100%;
	overflow-x: hidden;
}

.gimmeSpace {
	margin-top: 25px;
	margin-bottom: 25px;
}

li, p {
	font-size: 135%;
	font-family: $terminal;
}

h1, h2 {
	font-family: $terminal;
}

a:link {
	text-decoration: none;
}

a {
	color: white;
	font-family: $terminal;
  transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;	
}

a:hover {
	color: $red;
	transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
}

.pageTitle {
	font-family: $gamer;
	color: white;
}

/*! button styles*/

input, button {
	font-family: $terminal;
	margin: 15px;
}

input, textarea {
	border-radius: 5px;
	padding: 8px;
	color: purple;
}

label {
	display: block;
}

/*! navbar styles */
.container-fluid {
	background-color: $dark-blue;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: $white;
  font-family: $terminal;	
  transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: $light-red;
  font-family: $terminal;	
  background-color: $sky-blue;
}

.navbar-default .navbar-toggle:hover {
	color: $light-red;
	background-color: $sky-blue;
	transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: $light-red;
}

/*! logo styles, okay? Pfft. */
#logo {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 65px;
}

/*! 404 styles */
#bg404 { /*! likely what will be used for other sections, too. */
	background-color: $light-red;
	border-radius: 4px;
	border: 1px solid white;
	padding: 15px;
	margin-bottom: 15px;
}

footer {
	border-top: 1px solid $white;
	display: table;
	width: 100%;
	min-height: 200px;
}

footer > p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: $terminal;
	color: $white;	
}


