/*! color variables */
/*! font variables */
/*! defaults */
/* line 4, ../sass/style.scss */
.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: white;
}

/*! global styles*/
/* line 13, ../sass/style.scss */
html, body {
  background-color: #155d7a;
  color: #00BFFF;
  width: 100%;
  overflow-x: hidden;
}

/* line 20, ../sass/style.scss */
.gimmeSpace {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 25, ../sass/style.scss */
li, p {
  font-size: 135%;
  font-family: "Lekton", sans-serif;
}

/* line 30, ../sass/style.scss */
h1, h2 {
  font-family: "Lekton", sans-serif;
}

/* line 34, ../sass/style.scss */
a:link {
  text-decoration: none;
}

/* line 38, ../sass/style.scss */
a {
  color: white;
  font-family: "Lekton", sans-serif;
  transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
}

/* line 47, ../sass/style.scss */
a:hover {
  color: #ff0000;
  transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
}

/* line 55, ../sass/style.scss */
.pageTitle {
  font-family: "Press Start 2P", cursive;
  color: white;
}

/*! button styles*/
/* line 62, ../sass/style.scss */
input, button {
  font-family: "Lekton", sans-serif;
  margin: 15px;
}

/* line 67, ../sass/style.scss */
input, textarea {
  border-radius: 5px;
  padding: 8px;
  color: purple;
}

/* line 73, ../sass/style.scss */
label {
  display: block;
}

/*! navbar styles */
/* line 78, ../sass/style.scss */
.container-fluid {
  background-color: #155d7a;
}

/* line 82, ../sass/style.scss */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #ffffff;
  font-family: "Lekton", sans-serif;
  transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
}

/* line 92, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #ff4646;
  font-family: "Lekton", sans-serif;
  background-color: #00BFFF;
}

/* line 99, ../sass/style.scss */
.navbar-default .navbar-toggle:hover {
  color: #ff4646;
  background-color: #00BFFF;
  transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
}

/* line 108, ../sass/style.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* line 112, ../sass/style.scss */
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #ff4646;
}

/*! logo styles, okay? Pfft. */
/* line 117, ../sass/style.scss */
#logo {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 65px;
}

/*! 404 styles */
/* line 125, ../sass/style.scss */
#bg404 {
  /*! likely what will be used for other sections, too. */
  background-color: #ff4646;
  border-radius: 4px;
  border: 1px solid white;
  padding: 15px;
  margin-bottom: 15px;
}

/* line 133, ../sass/style.scss */
footer {
  border-top: 1px solid #ffffff;
  display: table;
  width: 100%;
  min-height: 200px;
}

/* line 140, ../sass/style.scss */
footer > p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: "Lekton", sans-serif;
  color: #ffffff;
}
