<div class="row">
<div class="col-sm-3">
<label for="title">
	Title:
</label>
<input type="text" id="title" name="blog[title]" value="<%= @blog.title %>">

<label for="released_on">
	Date (mm/dd/yyyy):
</label>
<input type="text" name="blog[released_on]" value="<%= @blog.released_on.strftime("%m/%d/%Y") if @blog.released_on %>">
</div>
</div>

<div class="row">
<label for="content">
	Content:
</label>
<textarea class="col-xs-12" name="blog[content]" id="content" cols="30" rows="10">
	<%= @blog.content %>
</textarea>
<input class="btn btn-success gimmeSpace col-xs-3" type="submit" value="Save Blog Entry">
</div>
