<h1 class="pageTitle text-center">Blog Posts</h1>
<h2><a href="/blogs/new">Write New Post</a></h2>
<% if @blogs.any? %>
  <ul id="blogs">
    <% @blogs.each do |blog| %>
    <!-- this is the big deal. It's how you iterate through a list -->
      <li><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></li> 
    <% end %>  
  </ul>    
<% else %>
  <p>No blogs have been created yet!</p>  
  <% end %>
