<h1 class="pageTitle text-center">Contact Me</h1>
<hr>
<p>Hi. If you'd like to contact me for whatever reason, please do so at <a href="mailto:techblast512@gmail.com" target="_top">techblast512@gmail.com</a>. You can also reach me at techpresswebdesign.com if you are interested in having a website built. I have a business email address for that here: <a href="mailto:hello@techpresswebdesign.com" target="_top">hello@techpresswebdesign.com</a></p><br>
<p>Thank you!</p>

<form action="/contact" method="POST">
	<label for="name">
		Name:
	</label>
	<input type="text" name="name">
	<label for="email">
		Email:
	</label>
	<input type="text" name="email">
	<label for="message">
		Your Message:
	</label>
	<textarea class="col-xs-12" name="message"></textarea>
	<input type="submit" value="Send Message">
</form>
