<hr>
<h1 class="pageTitle text-centered">Welcome</h1>
<hr>
<p>Thanks for visiting Ruby Me, Please.</p><br>
<p>I have a lot of work to do to this site. It's just a little personal blog.</p><br>
<h4>Goals of the site:</h4>
<ul>
	<li>Offer some insightful posts for those who are learning Ruby, like me.</li>
	<li>Document anything I learn with Ruby.</li>
	<li>To be a test-ground for some things I want to try.</li>
	<li>To possibly one day have a forum-type thing for Rubyists to chit-chat on. idk</li>
	<li>To notify when I offer somethign to share on GitHub.</li>
	<li>To ask for suggestions from seasoned Rubyists.</li>
</ul>
<p>I will enjoy working on this site. It's so exciting to me to learn new thigns. All I want, besides for my family to be happy, is to be a fairly dangerous programmer. I have been studying JavaScript for quite a while, and wow, it goes very deep! But the focus of this blog is on Ruby, so I'll save the JS for another place. I plan to have a separate blog dealing with that, along with PHP and WordPress.</p>
<p>I'll apologize in advance with saying that if you are an experienced Ruby programmer, I may not have anything to offer you here for a few months or years. It will probably seem like very babyish things that I will be posting until I get some good experience.</p>