<!doctype html>
<html lang="en">
<head>
	<title><%= @title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Lekton' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
<%= erb :nav %>
<img id="logo" class="img-responsive" src="/images/ruby_1.png" alt="Ruby Me, Please - Logo">
</header>

<section class="container">
	<%= yield %>
</section>

<%= erb :footer %>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/analytics.js"></script>
</body>
</html>