<div class="container text-center">
	<h2 class="pageTitle">Dang! Sorry, but that page you're looking for....</h2>
</div>
<div id="bg404">
	<p>well...</p>
	<h2>I hate to break it to you...</h2>
	<h1>But it doesn't even exist!</h1>
	<p>Now, technically, if you want to get all Nietzche about it, nothing exists.</p>
	<p>Descartes said, "I think, therefore I am."</p>
	<hr>
	<h2>I challenge you to use the navigation bar. Go find meaning in your life, and the meaning of this website.</h2>
	<h1>Do it for yourself. Do it for existence. Whatever you do--</h1>
	<p>Have a good day.</p>
	<hr>
	<p>Still bothering you? Need to make a rap blog about it?</p>
	<p>Alright then let's go.</p>
	<p>a-one and a-two and a chick-a-boom-a-chick.... "Yo, I know you wish this was the correct response to your HTTP request. If it were a 200 message, that would be the best! This ain't no 301, the resources are fine. It's a 404, so keep tryin'. Mama can ya hear me!? Uh, uh, what what?"</p>
	<p>White people should not ever try to rap. They naturally suck at it.</p>
	<h1>There's always the option to start over. I had to do that a few times to get this blog going. So, meet me <a href='/'>here</a> if you'd like.</h1>
</div>