/*! color variables */
$light-red: #ff4646;
$red: #ff0000;
$dark-red: #990f0f;
$darker-red: #4c0000;
$dark-blue: #155d7a;
$white: #ffffff;
$sky-blue: #00BFFF;

/*! font variables */
$gamer: 'Press Start 2P', cursive;
$terminal: 'Lekton', sans-serif;

/*! defaults */
$text-def: $sky-blue !default;